<div class="row">
</div>
 <div class="row">
   <div class ="profile-info col m3 s12">
     <%= image_tag(@user.image_url, :class=> 'profile-pic') %>
     <h5 class='name'><%= @user.name %></h5>
     <h5 class='username'><%= @user.username%></h5>
     <span class='bio'><%= @user.bio%></span>
     <hr>
     <span class='company'><em><%= @user.company%></em></span><br>
     <span class='location'><%= @user.location%></span><br>
     <span class='email'><a href=<%= "mailto:#{@user.email}"%>><%="#{@user.email}"%></a></span>
   </div>
   <div class="col m9 s12">
    <div class="col m3 s12">
      </br>
      <h6><%= link_to 'Repositories', dashboard_repos_path %>  <span class="count"><%= @user.repos.count %></span></h6>
    </div>
    <div class="col m3 s12">
     </br>
     <h6><%= link_to "Stars", dashboard_starred_path %> <span class="count"><%= @user.star_count %></span></h6>
    </div>
    <div class="col m3 s12">
     </br>
     <h6><%= link_to "Followers", dashboard_followers_path %> <span class="count"><%= @user.followers_count %></span></h6>
    </div>
    <div class="col m3 s12">
     </br>
     <h6><%= link_to "Following", dashboard_following_path %> <span class="count"><%= @user.following_count %></span></h6>
    </div>
    <div class="col m12 s12">
      <hr>
      <br>
    </div>
  </div>
