<nav class="nav">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-small-and-down">
      <li><%= link_to image_tag("GitHub-Mark.png", :class=> 'github-icon'), root_path %></li>
      <li class="search"><a href="sass.html">Search GitHub</a></li>
      <li>
        <a href="/pulls">Pull requests</a>
      </li>
      <li>
        <a href="/issues">Issues</a>
      </li>
      <li>
        <a href="/gist">Gist</a>
      </li>
      
      <% if current_user %>
        <li class="right"><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag(current_user.image_url, :class=> 'small-profile-pic') %><i class="tiny material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown1" class="dropdown-content">
          <li><%= "Signed in as #{current_user.username}" %></li>
          <!-- <li><%#= link_to "View Profile", dashboard_path(current_user) %></li>
          <li><%#= link_to "Edit Account", edit_user_path(current_user) %></li> -->
          <li><%= link_to "Sign out", logout_path(current_user), method: :delete %></li>
        </ul>
      <% else %>
        <li  class="right"><%= link_to "Sign in with GitHub", github_login_path, class: "btn btn-primary" %></li>
      <% end %>
    </li>
    </ul>
  </div>
</nav>